<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3></h3>
    <p>
      Hier beschrijft je wat je project inhoudt. Beschrijf ook de entiteiten/domeinobjecten die je gebruikt,
      en benoem per entiteit de attributen met hun datatype.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.jpeg"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Jerke Godeke</h5>
        <p class="card-text">
          Studentnummer: 2126441
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Keuze voor NoSQL</h3>
<p>
de keuze voor NoSQL is gemaakt omdat NoSQL werkt met JSON. JSON is in vergelijking met SQL storage een stuk voordeliger in opslag. 
Een nadeel van SQL is dat relaties moeilijker te maken zijn, maar aangezien deze web applicatie met simpele objecten met weinig, en alleen simpele relaties, werkt en is dit geen groot ding. 
Ook kan JSON objecten in objecten opslaan wat voor kleine objecten geen probleem is. zoals de comments in een discussion, 
daar stop ik een referntie in naar de comment en die worden bij het ophalen van de discussion opgehaald.

</p>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Game</p>
    <ul>
      <li>name: string</li>
      <li>id: number</li>
      <li>categorie: string[]</li>
      <li>developer: string</li>
      <li>release date: date</li>
      <li>duscussions: discussion[]</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>user</p>
    <ul>
      <li>name: string</li>
      <li>id: number</li>
      <li>birthdate: date</li>
      <li>isSelected: boolean</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>discussion</p>
    <ul>
      <li>name: string</li>
      <li>content: string</li>
      <li>id: number</li>
      <li>startdate: date</li>
      <li>comments: comment[]</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>comment</p>
    <ul>
      <li>content: string</li>
      <li>id: number</li>
      <li>userId: number</li>
      <li>comments: comment[]</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
