<mat-card class="game-card col-lg-12 child-component" *ngIf="discussion">
  <button type="button" *ngIf="isUser" [disabled]="!isUser" class="btn btn-primary addbtn"
    routerLink="/discussion/edit/{{id}}">edit Discussion</button>
  <div class="col-lg-4" style="float: right;">
    <small class="list-item">start date: {{date}}</small>
  </div>
  <mat-card-header>
    <mat-card-title id="title-card">{{discussion.name}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="container-fluid borderLine">

      <div class="row">

        <p class="col-lg-8">{{discussion.content}}</p>

      </div>

    </div>
    <a (click)="upvote()" class="clickable-box"style="margin-right: 15px;">
        <i class="fas fa-arrow-alt-circle-up fa-2x upvote"></i>
        <small class="counter">{{discussion.upvotes}}</small>

    </a>
    <a (click)="downvote()" class="clickable-box" style="margin-right: 15px;">

        <i class="fas fa-arrow-alt-circle-down fa-2x downvote"></i>
        <small class="counter">{{discussion.downvotes}}</small>

    </a>
  </mat-card-content>
</mat-card>
<div style="margin-top: -45px;">
  <app-add-comment [id]="id" [onDiscussion]="true"></app-add-comment>
</div>

<div *ngIf="comments">
  <app-comment-card class="" *ngFor="let comment of comments;" [comment]="comment" [discussionId]="discussion._id">
  </app-comment-card>
</div>