@import '../../../assets/variables';
@import '../../../styles.scss';

.addbtn {
    float: right;
    background-color: $button-collor;
    border-color: $button-collor;
    color: $button-background-color;
    border-radius: 15px;
    box-shadow: $border;
}

.borderLine{
    border-bottom: 1px solid #6e7295
}

