@import '../../../assets/variables';
@import '../../../styles.scss';

.commentForm-card {
    background-color: $button-background-color;
    margin: auto;
    margin-bottom: 16px;
    min-height: 70%;
    max-width: 60%;
    box-shadow: $border;
    @include md {
        max-width: 70%;
    }

    @include sm {
        max-width: 90%
    }
}

.content-card {
    margin-left: 14px;
    margin-right: 14px;
}

.addbtn {
    //float: right;
    background-color: $button-collor;
    border-color: $button-collor;
    color: $button-background-color;
    border-radius: 15px;
    box-shadow: $border;
    margin-top: 15px;
    margin-bottom: 15px;
}

.leavebtn {
    float: right;
    background-color: $button-collor;
    color: $button-background-color;
    border-radius: 15px;
    //box-shadow: $border;
}

.leaveComment
{
    float: right;
    background-color: $button-collor;
    border-color: $button-collor;
    color: $button-background-color;
    border-radius: 15px;
    box-shadow: $border;
    margin-right: 0%;
}

.leavebtncomment {
    float: right;
    background-color: $button-collor;
    border-color: $button-collor;
    color: $button-background-color;
    border-radius: 15px;
    margin-right: 20%;
    margin-bottom: 15px;
    box-shadow: $border;
}

.inputfield{
    width: 60% !important; 
    margin: 0 auto !important; 
    margin-bottom: 15px !important;
}

.clearfix::after {
    clear: both;
    display: block;
    margin-bottom: 15px;
  }