
<div *ngIf="onComment"class="">
    <button type="button" class="btn btn-primary leavebtncomment " (click)="loadForm()" [disabled]="addComment">
            <i class="far fa-comment"></i> comment</button>
</div>
<div *ngIf="onDiscussion"class="clearfix">
    <button type="button"  class="btn btn-primary leaveComment" (click)="loadForm()" [disabled]="addComment" >
            <i class="far fa-comment"></i> leave a comment</button>
</div>
<form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="commentForm">
    <div *ngIf="showIt" class="comment-card clickable-box ">
        <div class="form-input inputfield">
            <textarea class="form-control" rows="5" cols="4" id="content" placeholder="write a comment"
                formControlName="content"
                [ngClass]="!content.untouched && content.hasError('required') ? 'field-error' : ''"></textarea>
            <div>
                <button class="btn btn-primary addbtn" type="submit" [disabled]="!commentForm.valid"><i class="far fa-save"></i> add
                    a comment</button>
            </div>
        </div>
    </div>
</form>