<mat-card *ngIf="discussion" class="discussion-card clickable-box " routerLink="/discussion/{{discussion._id}}">
    <small class="content-card" style="float: right;right: 0px">start date: {{date}}</small>
    <mat-card-header style="text-align: center;">
       <mat-card-title style="text-align: center;">{{discussion.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="d-flex">
            <p class="content-card wrap-text">{{discussion.content}} </p>
        </div>
        <small class="content-card" style="float: right;right: 0px" > {{upvotes}}</small>
        <small class="content-card"style="float: right;right: 0px"> {{downvotes}}</small>
        <div class="d-flex">
            <small class="content-card wrap-text">{{discussion.user}} </small>
        </div>  
        </mat-card-content>
        

</mat-card>
