@import '../../../assets/variables';
@import '../../../styles.scss';


    .form-row {
        display: block;
    }
    .bttn {
        border: solid $button-background-color;
        border-width: 1 1px;
        border-radius: 15px;
        margin-left: auto;
        margin-bottom: 14px;
        margin-left: 4%;
        max-width: 40%;
        height: 150px;
        box-shadow: $border;

        @include md {
            max-width: 40%;
        }
    
        @include sm {
            max-width: 90%
        }
    }
    .error-message {
        padding: 0 18px;
        color: $error-text-color;
        font-weight: bold;
    }
    .field-error {
        border: 2px solid $error-border-color;
    }
    .addbtn {
        float: right;
        background-color: $button-collor;
        border-color: $button-collor;
        color: $button-background-color;
        border-radius: 15px;
        box-shadow: $border;
    }
    .search-discussion {
        max-width: 500px;
        padding-bottom: 50px;
        margin:auto;
      }