<div class=" clickable-box clearfix">
    <mat-card *ngIf="comment" class="comment-card clickable-box clearfix" >
    <mat-card-content>
            <div class="d-flex">
                <p class="content-card wrap-text">{{comment.content}} </p>
            </div>
    
            <small class="content-card" style="float: right;right: 0px" > {{upvotes}}</small>
            <small class="content-card"style="float: right;right: 0px"> {{downvotes}}</small>
            <div class="d-flex">
                <small class="content-card wrap-text">{{comment.user}} </small>
            </div>  
    
            </mat-card-content>
    
    
    </mat-card>
                <div >
                <app-add-comment [id]="comment._id" [onComment]="true" [discussion]="discussionId" ></app-add-comment>
              </div></div>
    
              <div *ngIf="comments" >
                <app-comment-on-comment-card class="" *ngFor="let comment of comments;" [comment]="comment" [discussionId]="discussionId"></app-comment-on-comment-card>
              </div>