<div class=" clickable-box clearfix">
  <mat-card *ngIf="!edit" class="comment-card clickable-box clearfix" [ngClass]="{
    'background1' : depth == 1,
    'background2' : depth == 2,
    'background3' : depth == 3,
    'background4' : depth == 4,
    'background5' : depth == 5,
    'background5' : depth > 5
 }">
    <mat-card-content>
        <div>
            <a (click)="setEdit()" class='editLink'>edit</a>
          </div>
      <div class="d-flex">
        <p class="content-card wrap-text">{{comment.content}} </p>
      </div>

      <div style="margin-bottom: 10px">
          <a (click)="downvote()" class="clickable-box" style="margin-right: 15px;float: right;right: 0px;">

              <i class="fas fa-arrow-alt-circle-down fa-2x downvote"></i>
              <small class="counter">{{comment.downvotes}}</small>

          </a>
          <a (click)="upvote()" class="clickable-box" style="margin-right: 15px;float: right;right: 0px;">
              <i class="fas fa-arrow-alt-circle-up fa-2x upvote"></i>
              <small class="counter">{{comment.upvotes}}</small>

          </a>
      </div>
      <div class="d-flex">
        <small class="content-card wrap-text">{{comment.user}} </small>
      </div>

    </mat-card-content>
  </mat-card>

  <div *ngIf="edit">
    <app-edit-comment [id]="comment._id" [oldContent]="comment.content" [discussion]="discussionId"></app-edit-comment>
    <button (click)="setEdit()" class='btn btn-primary addbtn cancelbtn'>cancel</button>
  </div>
  <div>
    <app-add-comment [id]="comment._id" [onComment]="true" [discussion]="discussionId"></app-add-comment>
  </div>
</div>

<div *ngIf="comments">
  <app-comment-on-comment-card class="" *ngFor="let comment of comments;" [comment]="comment"
    [discussionId]="discussionId" [depth]="depth"></app-comment-on-comment-card>
</div>