<div class=" clickable-box clearfix">
  <mat-card *ngIf="!edit" class="comment-card clickable-box clearfix" [ngClass]="{
    'background1' : depth == 1,
    'background2' : depth == 2,
    'background3' : depth == 3,
    'background4' : depth == 4,
    'background5' : depth == 5,
    'background5' : depth > 5
 }">
    <mat-card-content>
        <div>
            <a (click)="setEdit()" class='editLink'>edit</a>
          </div>
      <div class="d-flex">
        <p class="content-card wrap-text">{{comment.content}} </p>
      </div>

      <small class="content-card" style="float: right;right: 0px"> {{upvotes}}</small>
      <small class="content-card" style="float: right;right: 0px"> {{downvotes}}</small>
      <div class="d-flex">
        <small class="content-card wrap-text">{{comment.user}} </small>
      </div>

    </mat-card-content>
  </mat-card>

  <div *ngIf="edit">
    <app-edit-comment [id]="comment._id" [oldContent]="comment.content" [discussion]="discussionId"></app-edit-comment>
    <button (click)="setEdit()" class='btn btn-primary addbtn cancelbtn'>cancel</button>
  </div>
  <div>
    <app-add-comment [id]="comment._id" [onComment]="true" [discussion]="discussionId"></app-add-comment>
  </div>
</div>

<div *ngIf="comments">
  <app-comment-on-comment-card class="" *ngFor="let comment of comments;" [comment]="comment"
    [discussionId]="discussionId" [depth]="depth"></app-comment-on-comment-card>
</div>