<form [formGroup]="gameForm" (ngSubmit)="onSubmit()" class="gameForm">
    <div class="form-group">
        <div class="form-row">

            <div class="form-input">
                <input type="text" class="form-control" id="name" placeholder="name of the game" formControlName="name"
                    [ngClass]="!name.untouched && name.hasError('required') ? 'field-error' : ''">
                <label for="name">name</label>
            </div>
            <div class="error-message" *ngIf="!name.untouched && name.hasError('required')">
                A name is required.
            </div>
        </div>
        <div class="form-row">
            <div class="form-input">
                <input type="date" class="form-control" id="releaseDate" placeholder="release date of the game"
                    formControlName="releaseDate"
                    [ngClass]="!releaseDate.untouched && releaseDate.hasError('required') ? 'field-error' : ''">
                <label for="releaseDate">release date</label>
            </div>
            <div class="error-message" *ngIf="!releaseDate.untouched && releaseDate.hasError('required')">
                A release date is required.
            </div>
        </div>
        <div class="form-row">
            <button type="button" (click)="addcategory()" style="float: right; margin-bottom: 30px;" class="btn">Add a
                category</button>
            <div class="form-input">
                <div style='margin-bottom: 20px;' formArrayName="categories"
                    *ngFor="let category of gameForm.get('categories')['controls']; let i = index">
                    <input placeholder="Category" [formControlName]="i">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-input">
                <input type="text" class="form-control" id="developer" placeholder="developer of the game"
                    formControlName="developer"
                    [ngClass]="!developer.untouched && developer.hasError('required') ? 'field-error' : ''">
                <label for="developer">developer</label>
            </div>
            <div class="error-message" *ngIf="!developer.untouched && developer.hasError('required')">
                A developer is required.
            </div>
        </div>

        <div>
            <button class="btn btn-primary roundBtn" type="submit" [disabled]="!gameForm.valid"><i class="far fa-save"></i> add game</button>
            <button routerLink="/game" class='btn btn-primary addbtn cancelbtn'><i class="far fa-window-close"></i> cancel</button>
            
        </div>
    </div>
</form>