@import '~@angular/material/theming';
@include mat-core();

// body background
$background-collor:  #9EA3B0;

// button variables
$button-collor: rgb(64, 137, 185);
$button-background-color: #f3f3f3;
$button-delete-background-color: #F03A47;
$button-delete-color: #EBECEE;
$commennt-on-comment-color:#dadada;

// input fields
$error-border-color: #F03A47;
$error-text-color: #F03A47;

// other
$border: 7px 6px 15px 0px  rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

