/* You can add global styles to this file, and also import other style files */
@import './assets/variables';
@import '~bootstrap/dist/css/bootstrap.min.css';

$medium: 1160px;
$small: 835px;

.main{
    background-color: background-collor;
}
$colors: (
    primary: #1552b5,
    primary-light: #2267d6,
    secondary: #FFFFFF
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

@mixin md {
    @media(max-width: #{$medium}) {
        @content;
    }
}

@mixin sm {
    @media(max-width: #{$small}) {
        @content;
    }
}

.api-error{
    color: red;
}

.upvote{
    color: $upvote-color;
    margin-top: 5px;
    margin-right: 5px; 
    border-radius: 80%;
}
.downvote{
    color: $button-delete-background-color;
    margin-top: 5px;
    margin-right: 5px; 
    border-radius: 54%;
}

.counter{
    margin-bottom:15px;
    margin-left: -12px;
}

.clickable-box{
    cursor: pointer;
}

::ng-deep .delete-snackbar{
    text-align: center;
    background: $button-collor;
}
::ng-deep .delete-snackbar .mat-simple-snackbar-action { color: $button-collor; }

::ng-deep .upvote-snackbar{
    text-align: center;
    background: $upvote-color;
}
::ng-deep .upvote-snackbar .mat-simple-snackbar-action { color: $upvote-color; }

::ng-deep .downvote-snackbar{
    text-align: center;
    background: $button-delete-background-color;
}

::ng-deep .downvote-snackbar .mat-simple-snackbar-action { color: $button-delete-background-color; }
