@import '../../../assets/variables';

.discussionForm {
    .form-row {
        display: block;
    }
    .btn {
        float: right;
        background-color: $button-collor;
        border-color: $button-collor;
        border-radius: 15px;
        margin-left: 10px;
        color: $button-background-color;
        box-shadow: $border;
    }
    .error-message {
        padding: 0 18px;
        color: $error-text-color;
        font-weight: bold;
    }
    .field-error {
        border: 2px solid $error-border-color;
    }

    .roundBtn {
        visibility: visible;
        height: auto;
        border-radius: 15px;
        color: $button-background-color;
        box-shadow: $border;
    }
    .cancelbtn {
        background-color: $button-delete-background-color;
        border-color: $button-delete-background-color;
        color: $button-background-color;
        border-radius: 15px;
        margin-left: 10px;
        margin-bottom: 15px;
        box-shadow: $border;
    }
}