@import '../../assets/variables';

.loginForm {
    .form-row {
        display: block;
    }
    .btn {
        float: right;
        background-color: $button-collor;
        border-radius: 15px;
        color: white;
    }
    .error-message {
        padding: 0 18px;
        color: $error-text-color;
        font-weight: bold;
    }
    .field-error {
        border: 2px solid $error-border-color;
    }

}